.modifier-feature{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 88px 31px;
  padding: 116px 0 134px 0;
}

.grid-item{
  display: flex;
  flex-direction: $direction-col;
  width: 370px;
  justify-content: center;
  text-align: center;
}

.feature-image{
  width: 100px;
  display: flex;
  padding: 0 135px 29px 135px;
}

.feature-header{
  @extend %text-header;
}

.feature-text{
  @extend %text-description;
}