.modifier-header{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.header-section{
  display: flex;
  justify-content: space-between;
  padding: 39px 10px 36px 10px;
  border-bottom: 1px solid #BABBC5;
  position: fixed;
  top: 0;
  width: 1170px;
  z-index: 3;
  background-color: transparent;
}

//.header-section.hide {
//  transform: translateY(-50px);
//  background-color: red; /* Set the background color you desire when the header is hidden */
//}

.navigation-bar{
  display: $d-flex;

  @media (max-width: 1200px) {
    width: 63%;
  }
}

.tab__element{
  display: $d-flex;
  justify-content: center;
  width: $header__item-width;
  font-size: $header__links-text;
  font-weight: 700;
  color: $text-white;
  align-items: center;
}