.modifier-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-section{
  display: flex;
  justify-content: space-between;
  padding: 39px 10px 36px 10px;
  border-bottom: 1px solid #BABBC5;
  position: absolute;
  width: 1170px;

  @media (max-width: 1200px) {
    align-items: center;
    width: 95%;
  }
}

.navigation-bar{
  display: $d-flex;

  @media (max-width: 1200px) {
    width: 63%;
  }
}

.tab__element{
  display: $d-flex;
  justify-content: center;
  width: $header__item-width;
  font-size: $header__links-text;
  font-weight: 700;
  color: $text-white;
  align-items: center;

  @media (max-width: 1200px) {
    align-items: center;
    width: 100%;
    font-size: 12px;
    text-align: center;
  }
}