.main{
  background-image:  url('/src/images/main/landing_image.png');
  background-blend-mode: overlay;
  background-color: rgb(37, 43, 73);
  background-size: 100% 100%;
  object-fit: cover;
}

.modifier-main{
  display: $d-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title{
  display: flex;
  text-align: center;
  max-width: 100%;
  margin: 230px 0 32px 0;
  color: $text-white;
  font-size: 64px;
  font-weight: 900;
}

.main-text{
  max-width: 100%;
  font-size: $text-24px;
  font-weight: 400;
  display: flex;
  text-align: center;
  color: $text-white;
  margin-bottom: 80px;
}

.main-button{
  @extend %btn;
  font-size: 24px;
  font-weight: 900;
}