.grid-teams{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(227px, 270px));
  padding-bottom: 114px;
  gap: 30px;

  @media (max-width: 1200px) {
    gap: 20px;
    padding-bottom: 78px;
    justify-content: center;
  }
}

.team-cell{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.team-img{
  padding-bottom: 30px;

  @media (max-width: 1200px) {
    width: 100%;
    padding-bottom: 22px;
  }
}

.user-info{
  display: flex;
  flex-direction: column;
}

.user-header{
  color: #2D3033;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 5px;

  @media (max-width: 1200px) {
    font-size: 18px;
    padding-bottom: 4px;
  }
}

.user-title{
  color: #FF4343;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 18px;

  @media (max-width: 1200px) {
    font-size: 14px;
    padding-bottom: 22px;
    width: 100%;
  }
}

.user-description{
  color: #6C7279;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 38px;

  @media (max-width: 1200px) {
    font-size: 14px;
    padding-bottom: 39px;
    width: 100%;
  }
}

.user-socials{
  display: flex;
  gap: 6px;

  @media (max-width: 1200px) {
    gap: 12px;
  }
}

.user-link{
  @media (max-width: 1200px) {
    width: 32px;
    height: 32px;
  }
}