%btn{
  width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $btn__job-background;
  color: $text-white;
  padding: 30px 0;
  margin: 0 auto 50px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @media (max-width: 1200px) {
    width: 314px;
    margin: 0 auto 126px;
    padding: 25.5px 0;
  }

  @media (max-width: 840px) {
    width: 300px;
    margin: 0 auto 80px;
    padding: 20.5px 0;
  }

  @media (max-width: 450px) {
    width: 280px;
    margin: 0 auto 52px;
    padding: 15.5px 0;
  }
}

%btn:hover{
  background: rgba(231, 20, 20, 1);
}

%btn:active{
  background: #FF4343;
  box-shadow: 4px 4px 30px 0 #FF4343;
}

%text-header{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: $text-24px;
  font-weight: 900;
  padding: 21px 0;
  color: $header__text-black;

  @media (max-width: 1200px) {
    font-size: 18px;
    width: 100%;
  }

  @media (max-width: 840px) {
    font-size: 18px;
    width: 100%;
  }

  @media (max-width: 450px) {
    font-size: 18px;
    width: 100%;
  }
}

%text-description{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: $text-font;
  font-weight: 400;
  color: $text-grey;

  @media (max-width: 1200px) {
    font-size: 14px;
    width: 100%;
  }

  @media (max-width: 840px) {
    font-size: 14px;
    width: 100%;
  }

  @media (max-width: 450px) {
    font-size: 14px;
    width: 100%;
  }
}

%footer__text-header{
  width: 370px;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  text-align: center;

  @media (max-width: 1200px) {
    width: 100%;
    font-size: 14px;
    padding: 0 20px;
  }

  @media (max-width: 930px) {
    width: 100%;
    font-size: 14px;
  }

  @media  (max-width: 775px) {
    width: 100%;
    font-size: 14px;
  }

  @media (max-width: 450px) {
    width: 100%;
    font-size: 14px;
  }
}

%footer__text-description{
  width: 370px;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  text-align: center;

  @media (max-width: 1200px) {
    width: 100%;
    font-size: 14px;
  }

  @media (max-width: 930px) {
    width: 100%;
    font-size: 14px;
  }

  @media  (max-width: 775px) {
    width: 100%;
    font-size: 14px;
  }

  @media (max-width: 450px) {
    width: 100%;
    font-size: 14px;
  }
}