// Colors
$text-white: #FFF;
$header__text-black: #2D3033;
$text-grey: #6C7279;
$btn__job-background: #FF4343;
$element__hover-color: rgba(255, 67, 67, 0.80);
$socials__icon-color: rgba(198, 203, 205, 1);
$footer-grey: #808080;

// Text description
$text-font: 18px;
$header__links-text: 13px;
$text-24px: 24px;


$d-flex: flex;
$direction-col: column;
$direction-row: row;
$j-content: center;

$header__item-width: 134px;