.works{
  margin: 0 auto;
  padding: 15px 0;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  position: relative;

  @media (max-width: 1200px) {
    padding: 0 5px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 100%;
  }

  @media (max-width: 840px) {
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 100%;
  }

  @media (max-width: 450px) {
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
  }
}

.grid-workers{
  display: grid;
  grid-template-columns: repeat(4, minmax(160px, auto));
  grid-template-rows: repeat(2, 1fr);
  padding-bottom: 114px;
  margin: 0 auto;
  max-width: 100%;

  @media (max-width: 650px) {
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    padding-bottom: 110px;
    width: 100%;
  }
}

.grid-worker{
  border: 2px solid #FFF;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
}

.img{
  width: -webkit-fill-available;
  //width: 100%;
  //height: auto;
}

.worker-info{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 4px);
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 67, 67, 0.80);
  text-align: center;
  gap: 20px;
  box-sizing: border-box;

  @media (max-width: 1200px) {
    gap: 0;
  }

  @media (max-width: 840px) {
    gap: 0;
  }

  @media (max-width: 450px) {
    gap: 0;
  }
}

.grid-worker:hover .worker-info {
  display: flex;
}

.worker-info:active{
  background: rgba(185, 12, 12, 0.80);
}

.info-header{
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  width: 100%;
  padding: 16px 0;

  @media (max-width: 1200px) {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 10px 0;
    gap: 12px;
  }

  @media (max-width: 840px) {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 6.5px 0;
    gap: 8px;
  }

  @media (max-width: 450px) {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 3px 0;
    gap: 4px;
  }
}

.info-text{
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  width: 100%;

  @media (max-width: 1200px) {
    font-size: 14px;
  }

  @media (max-width: 840px) {
    font-size: 14px;
  }

  @media (max-width: 450px) {
    font-size: 14px;
  }
}