*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.wrapper{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 840px) {
    width: 100%;
  }

  @media (max-width: 450px) {
    width: 100%;
  }
}

